server:
  port: 8081

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://localhost:5001/db
    username: admin_user
    password: password
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  # SQL initialization
  sql:
    init:
      mode: never  # Set to 'always' if you want Spring Boot to run scripts
      # Since we're using docker-entrypoint-initdb.d, we don't need this
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql

jwt:
  secret: xJk9Pq5Z1Rz4F+W3KkYbXG7z1Yc8b2KpFv0L2H1a9mM=
  access-token-expiration: 3600000
  refresh-token-expiration: 86400000

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

logging:
  level:
    com.delivery.userservice: DEBUG
    org.springframework.security: INFO
    org.hibernate.SQL: DEBUG
