server:
  port: 8081

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://localhost:5432/user_service_db
    username: delivery_user
    password: delivery_pass
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  # SQL initialization
  sql:
    init:
      mode: never  # Set to 'always' if you want Spring Boot to run scripts
      # Since we're using docker-entrypoint-initdb.d, we don't need this

jwt:
  secret: 6C582161D3C7AFB65C55134F127BC
  access-token-expiration: 3600000
  refresh-token-expiration: 86400000

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

logging:
  level:
    com.delivery.userservice: DEBUG
